.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cart-widget {
  font-size: 30px; 
}

.cart-widget img {
  width: 30px; 
  height: 30px; 
  cursor: pointer;
  margin-right: 0.5rem;
}

.cart-notification {
  width: 15px; 
  height: 15px;
  color: white; 
  font-size: medium;
  cursor: pointer;
}

.perfiles {
  margin-right: 10px;
}

.itemListContainer {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
/*     height: 100%
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; */
  
}
